/* --------- */
/*  Resume   */
/* --------- */


.resume-section {
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
}

.resume {
  justify-content: center;
  width: 100vw;
  max-width: 1170px;
  margin: 0 auto;
}



