.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  /* margin-top: 1rem; */
  text-align: center;
  padding-top: 2rem;
}