.home-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: yellow;
  max-width: 1170px;
}

.image-container {
  width: 100vw;
  height: 100vw;
  background: violet;
}

.info-container {
  width: 100vw;
  height: 100vw;
}

@media screen and (min-width: 800px) {
  .home-container {
    flex-direction: row;
    margin: 0 auto;
  }
  .image-container {
    width: 50vw;
    height: 50vw;
    max-width: 585px;
  }

  .info-container {
    width: 50vw;
    height: 50vw;
    max-width: 585px;
  }
}

.path1 {
  stroke: black;
  fill: none;
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  animation: dash1 2s linear;
  animation-fill-mode: forwards;
}

.path2 {
  stroke: black;
  fill: none;
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  animation: dash1 2s linear;
  animation-fill-mode: forwards;
}

.path3 {
  stroke: black;
  fill: none;
  stroke-dashoffset: 1800;
  stroke-dasharray: 1000;
  animation: dash1 2s linear;
  animation-fill-mode: forwards;
}

@keyframes dash1 {
  100% {
    stroke-dashoffset: 2000;
  }
}
